*,
*::after,
*::before {
  box-sizing: border-box;
}

/* colors */
/* fonts */
/* borders */
/* grid-breakpoints */
/* min screen */
/* max screen */
body {
  font-family: Roboto;
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
}

a {
  color: #0CAF89;
}

p {
  padding: 0;
  margin: 0;
}

.h1 {
  font-size: 20px;
  line-height: 21px;
  color: #000;
  margin: 0;
}

.page {
  font-family: Roboto;
  background-color: #F4F4F4;
  margin: 16px 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.header {
  border-radius: 16px;
  background-color: #fff;
  padding: 18px 16px;
}

.header-title {
  margin-right: auto;
}

.filter {
  padding: 16px 16px;
  background-color: #fff;
  border-radius: 16px;
}

.main {
  padding: 0;
  margin: 0;
}

.top-bar {
  background-color: #fff;
  border-radius: 16px;
  padding: 12px 16px;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px 24px;
  border: none;
}

.footer {
  background-color: #fff;
  border-radius: 16px;
  padding: 14px 24px;
}

.card-head__tags-item {
  color: #fff;
  padding: 2px 8px;
  font-size: 11px;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-right: 8px;
  border-radius: 30px;
}

.card-head__tags-item_base {
  background-color: #0CAF89;
}

/* media  */
@media (min-width: 767px) {
  /* */
}
@media (min-width: 991px) {
  /* */
}
@media (min-width: 1279px) {
  /* */
}
@media (max-width: 767px) {
  /* */
}
@media (max-width: 991px) {
  /* */
}
@media (max-width: 1279px) {
  /* */
}
