*,
*::after,
*::before {
  box-sizing: border-box;
}

/* colors */
/* fonts */
/* borders */
/* grid-breakpoints */
/* min screen */
/* max screen */
body {
  font-family: Roboto;
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
}

a {
  color: #0CAF89;
}

p {
  padding: 0;
  margin: 0;
}

.h1 {
  font-size: 20px;
  line-height: 21px;
  color: #000;
  margin: 0;
}

.container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  padding: 18px 16px;
  margin: 16px 0;
}

.header__title {
  margin-right: auto;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  margin-left: 48px;
}

.header__nav-icon {
  margin-right: 8px;
}

.content-row {
  display: grid;
  grid-template-columns: 229px 1fr;
  gap: 16px 16px;
}

.sidebar {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px 16px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 0px;
}

.main-search {
  background-color: #fff;
  border-radius: 16px;
  padding: 12px 16px;
}

.cards-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 16px;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px 24px;
}

.card-head__tags {
  display: flex;
}

.card-head__tags-tag {
  border-radius: 30px;
  color: #fff;
  padding: 2px 8px;
  font-size: 11px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
  margin-right: 8px;
  font-weight: 500;
}

.card-head__tags-tag_immunocard {
  background-color: #F6772D;
}

.card-date {
  margin-left: auto;
}

.pagination-items {
  list-style: none;
  display: flex;
}

/* media  */
@media (min-width: 767px) {
  /* */
}
@media (min-width: 991px) {
  /* */
}
@media (min-width: 1279px) {
  /* */
}
@media (max-width: 767px) {
  /* */
}
@media (max-width: 991px) {
  /* */
}
@media (max-width: 1279px) {
  /* */
}
