*,
*::after,
*::before {
    box-sizing: border-box;
}

/* colors */
$base-color: #0CAF89;
$secondary-color: #000;

/* fonts */
$font-family: Roboto;
$font-family: Roboto;

body {
    font-family: Roboto;
    background-color: #fff;
    color: #fff;
}


