*,
*::after,
*::before {
    box-sizing: border-box;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);


/* colors */
$color-white: #fff;
$color-black: #000;
$color-base: #0CAF89;
$color-secondary: #000;

$color-immunocard: #F6772D;

/* fonts */
$font-family: Roboto;
$font-family: Roboto;

/* borders */
$border-sm:  8px;
$border-md: 16px;
$border-lg: 30px;
$border-xl: 50px;



/* grid-breakpoints */ 

/* min screen */
$screen-sm:  576px;
$screen-md:  768px;
$screen-lg:  992px;
$screen-xl: 1280px;
/* max screen */
$screen-sm-max:  767px;
$screen-md-max:  991px;
$screen-lg-max: 1279px;

body {
    font-family: Roboto;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}

a {
    color: $color-base;
}
p {
    padding: 0;
    margin: 0;
}

.h1 {
    font-size: 20px;
    line-height: 21px;
    color: $color-black;
    margin: 0;
}

.page {
    font-family: Roboto;
    background-color: #F4F4F4;
    margin: 16px 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.header {
    border-radius: $border-md;
    background-color: $color-white;
    padding: 18px 16px;
}

.header-title {
    margin-right: auto;
}
  
.filter {
    padding: 16px 16px;
    background-color: $color-white;
    border-radius: $border-md;
}

.main {
    padding: 0;
    margin: 0;
}

.top-bar {
    background-color: $color-white;
    border-radius: $border-md;
    padding: 12px 16px;
}

.card {
    background-color: $color-white;
    border-radius: $border-md;
    padding: 16px 24px;
    border: none;
}

.footer {
    background-color: $color-white;
    border-radius: $border-md;
    padding: 14px 24px;
}

.card-head__tags {}

.card-head__tags-item {
    color: $color-white;
    padding: 2px 8px;
    font-size: 11px;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-right: 8px;
    border-radius: $border-lg;
}

.card-head__tags-item_base {
    background-color: $color-base;
}








/* media  */
@media (min-width: $screen-sm-max) {
    /* */    
}
@media (min-width: $screen-md-max) {
    /* */    
}
@media (min-width: $screen-lg-max) {
    /* */    
}

@media (max-width: $screen-sm-max) {
    /* */    
}
@media (max-width: $screen-md-max) {
    /* */    
}
@media (max-width: $screen-lg-max) {
    /* */    
}
